<div class="component-container">
  <div class="pallete-color ">
    <div class="dropdown mb-3 text-center text-light" dropdown>
      <a class="dropdown-toggle" dropdownToggle>{{grids[selectedGrid].title}}</a>
      <div class="dropdown-menu dropdown-menu" *dropdownMenu>
        <div *ngFor="let grid of grids; index as i">
          <a  class="dropdown-item" (click)="changeGrid(i)">{{ grid.title }}</a>
          <div *ngIf="i != grids.length - 1" class="dropdown-divider" href="#"></div>
        </div>
      </div>
    </div>
    <div style="text-align: -webkit-center;">
      <div class="selected-color" [style.background-color]="color"></div>
    </div>
    <hr>
    <ul>
      <div *ngFor="let color of colors; index as i">
        <li [style.background-color]="color" (click)="changeColor(color)"></li>
      </div>
    </ul>
  </div>
  <div class="container text-center">
    <div #pixelArt>
      <div [ngClass]="{'center': rows.length < 32, 'center-32': rows.length == 32}" *ngFor="let cell of rows; index as i">
        <div id="r{{i}}c{{j}}" (click)="fill(i, j)" *ngFor="let cell of columns; index as j" class="cell" [ngClass]="{'last-column': j == columns.length - 1, 'first-row': i == 0, 'cell-32': rows.length == 32}"></div>
      </div>
    </div>
      <button type="button" class="btn btn-lg btn-danger" (click)="reset()">Reset</button>
      <button type="button" class="btn btn-lg btn-info" (click)="download()">Download</button>
  </div>
</div>