$pallete-background-color: #36302F; 

.container {
    align-content: center;
    height: -webkit-fill-available;
    margin-top: 50px;
    overflow: auto;
}

.pallete-color {
    position: absolute;
    width: 150px;
    background-color:$pallete-background-color;
    height: 100%;
    overflow: auto;
}

.cell {
    border-style: solid;
    border-right-style: none;
    border-top-style: none;
    border-width: thin;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-content: center;
    background-color: white;
}

.cell:hover {
    cursor: pointer;
}

.last-column {
    border-right-style: solid;
}

.first-row {
    border-top-style: solid;
}

.center {
    text-align: center;
    height: 50px;
}

.center-32 {
    text-align: center;
    height: 30px;
}

.cell-32 {
    width: 30px;
    height: 30px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    margin-top: 10px;
}

.dropdown {
    margin-top: 15px;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: -webkit-center;

    li {
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    li:hover {
        transform: scale(1.1, 1.1);
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }
}

hr {
    border-top: 3px solid black;
}

.selected-color {
    width: 60px;
    height: 60px;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #36302F;
    border: 2px solid #555555;
}

.btn {
    margin-top: 20px;
    align-self: center;
}