$background-color: #36302F; 

header {
    position: absolute;
    width: 100%;
    height: 50px;
    display: inline-flex;
    background-color: $background-color;
}

.container {
    text-align: right;
    margin-right: 10px;
}

.title {
    font-size: x-large;
    font-weight: bold;
    margin-left: 15px;
    color:white;
}



