/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.component-container {
    margin-top: 50px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: block;
    position: absolute;
    background-color: #A5ACBC;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
